{
  "presets": ["es2015"],
  "plugins": [
    "syntax-async-functions",
    "transform-regenerator",
    [
      "babel-plugin-dotenv",
      {
        "replacedModuleName": "babel-dotenv"
      }
    ]
  ]
}
